@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  /* color: white; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    position: relative;
    @apply text-primaryColor;
   
   

    
}



* {
  box-sizing: border-box;
}
h1{
  @apply text-2xl md:text-4xl lg:text-4xl;
  @apply font-bold
}
h2{
  @apply text-xl md:text-2xl lg:text-3xl;
  @apply font-bold
}
input{
  @apply outline-none border-2 border-grayBorder bg-primaryBackground p-3 focus:border-none
  
}
textarea{
  @apply outline-none border-2 border-grayBorder bg-primaryBackground p-3 focus:border-none
}
.ck-editor__editable_inline {
  min-height: 400px;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  
}





