@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    position: relative;
    background: #FFF6EF;
    color: #152035;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
   
    /* background: black; */
  }
}
.site-name{
  font-family: var(--dancing-script);
}
.header{
  font-family: var(--roboto-slab);
}
body{
  font-family:  var(--work-sans);
}
a:hover{
  color: #f08e80;
}


